<h1>Hello, my {{value}} world!</h1>

<app-my-component [title] = "title" imgUrl=""></app-my-component>
<app-app-counter [counter]="10" (onValueChanged)="valueChange($event)"></app-app-counter>

<ul *ngIf="historicalValue.length > 0; else noData">
  <li *ngFor="let i of historicalValue; let idx = index">
    <h3>
      <code>{{idx}}</code>: {{ i }}
      <button (click)="deleteValue(idx)">Del</button>
    </h3>
  </li>
</ul>

<ng-template #noData>
  <h2>No Data</h2>
</ng-template>

<app-my-component title = "First bear"></app-my-component>
<app-my-component title = "Second bear" imgUrl="assets/polar-bear-2.gif"></app-my-component>